@{

    ViewBag.Title = "BaoHanh";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mainContent">
    <div id='Para'>
        <div id='pTitle' class='PTitle'>Quy Định Bảo Hành</div>
        <div id='pBot'></div>
        <p><div id='pContent'><font color=#000099 size=4>
        <p><font color=#000099 size=4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><strong>THIẾT BỊ - DỤNG CỤ THỂ THAO ĐƯỢC BẢO HÀNH 1 NĂM, KỂ TỪ NGÀY MUA</strong></p>
        </FONT>
        <p>
            <br />
            <strong><u>1. Điều kiện bảo hành:</u></strong><br />
            <br />
            - Sản phẩm còn trong hạn bảo hành.<br />
            - Phiếu bảo hành đầy đủ thông tin: kiểu máy, số serial, ngày sản xuất, tên khách hàng sử dụng, địa chỉ, ngày mua, (đối với các sản phẩm không áp dụng Bảo hành điện tử).<br />
            - Hư hỏng do chất lượng linh kiện hay lỗi kỹ thuật của nhà sản xuất.<br />
            <br />
            <strong><u>2. Điều kiện từ chối bảo hành:</u></strong><br />
            <br />
            - Sản phẩm không có tem bảo hành khi sửa chữa lần đầu tiên.<br />
            - Sản phẩm bị hư do thiên tai, hoả hoạn, lụt lội, sét đánh, côn trùng, động vật vào, đặt máy nơi bụi bẩn, ẩm ướt và nhiệt độ cao, có vết mốc, rỉ sét, ăn mòn, oxy hóa.<br />
            - Sản phẩm bị hư do dùng sai điện thế chỉ định.<br />
            - Khách hàng gây nên những khuyết tật như biến dạng, nứt vỡ, trầy xước…<br />
            - Sản phẩm được lắp đặt, bảo trì, sử dụng không đúng theo hướng dẫn, gây ra hư hỏng.<br />
            - Sản phẩm bị thay đổi, sửa chữa bởi kỹ thuật viên không thuộc các Trung tâm bảo hành của chúng tôi<br />
            - Sản phẩm không mua từ hệ thống phân phối chính thức của chúng tôi<br />
            - Sản phẩm hết hạn bảo hành<br />
            - Không bảo hành phụ tùng kèm theo như dây cáp, đầu nối tín hiệu, thẻ nhớ …<br />
            <br />
            <strong><u>3. Thông tin bảo hành:</u></strong>
        </p>
        <p>Thiết bị - dụng cụ thể thao được bảo hành tại nhà của khách hàng hay tại Công Ty của chúng tôi (tùy theo từng sản phẩm cụ thể). Thông tin địa chị và điện thoại để bảo hành  </p>
        <p>
            Địa chỉ: <strong>
                <font size="2">
                    <strong>
                        <font size="3">
                            <strong>
                                <span style="FONT-FAMILY: Tahoma; COLOR: blue">273</span>
                            </strong>An Dương Vương Q.5
                        </font>
                    </strong>
                </font>  TP Hồ Chí Minh
            </strong><br />
            <strong>        ĐT : <font size="2">083 .8484005 </font></strong>
        </p>
        <p><font size=3></font>&nbsp;</p><div class='tnp'></div>
    </div>
    <br />
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p></p>
</div></div>
