@{
   
    ViewBag.Title = "BaoHanh";
}

 @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
 <div id="mainContent"><div id='Para'>
<div id='pTitle' class='PTitle'>Hướng dẫn mua hàng</div>
<div id='pBot'></div>
<p><div id='pContent'><FONT color=#000099 size=4>
<P><FONT color=#000099 size=4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT><strong></strong></P>
</FONT>
  <p><br />
    <strong><u></u></strong><br />
    <br />
      <h1>Hướng dẫn Và quy định khi khách mua giày tại website:</h1></br></br>
      POSShop.vn tự hào là nhà cung cấp các sản phẩm Giày Nam,Giày lười nam hàng hiệu chất lượng uy tín được người tiêu dùng công nhận trên toàn quốc.
     </br></br>
      1. Bước đặt mua hàng : Sau khi truy cập vào trang posshop.vn bạn có thể

      - Kết nối trực tiếp tới 1 trong 2 số hotline 0909696969 hoặc  0969212121 gặp trực tiếp tư vẫn viên để được hướng dẫn cụ thể.

      - Trỏ chuột vào mục “ Địa chỉ mua hàng”.sau đó kéo xuống phần Thông tin liên hệ  điền đầy đủ thông tin vào khoảng trắng và nhấn nút gửi.Sau khi tiếp nhận thông tin sẽ có nhân viên chăm sóc khách hàng của shop kết nối trực tiếp tới khách hàng.
      </br></br>
      2. Hình thức giao hàng
      -  Posshop.vn có ký kết hợp đồng kinh tế với công ty vận chuyển hàng uy tín Viettel. Vì vậy hàng của quý khách sẽ được nhân viên giao trả tận địa chỉ nhận của quý khách dù bạn ở bất kỳ nơi đâu.Thời gian đặt hàng là khoảng 3-5 ngày + thời gian giao hàng cho khách ở tuyến thành phố khoảng 2-3 ngày còn tuyến huyện khoảng 3-4 ngày
      </br>
      -   Đặc biệt Posshopo.vn thực hiện  chính sách ưu đãi freeship toàn quốc.Vì vậy khi nhận hàng các bạn không cần phải thanh toán thêm bất kỳ  khoản phụ phí nào.
      </br></br>
      3. Hình thức thanh toán
      </br>
      -Vì tất cả các sản phẩm  của Posshop.vn  có giá trị cao.Nên khách hàng khi đặt  mua vui lòng  thanh toán chuyển khoản đặt cọc tối thiểu 20% giá trị của đơn hàng cho shop để tránh trường hợp đơn hàng ảo.Số tiền còn lại khách hàng có thể thanh toán qua ngân hàng hoặc thanh toán trực tiếp cho nhân viên giao hàng của viettel khi nhận hàng.
      </br>
      - Cụ thể số tài khoản:</br>
      Tài khoản Vietinbank:  Chủ TK STK: xxxxxxxxxx  Tên TK: Hong Sec Minh, Chi nhánh:Quận 5</br>
      Tài khoản Agribank : Chủ TK: xxxxxxxxxx  Tên TK: Hong Sec Minh, Chi nhánh: Quận 5</br>
      Tài khoản VietcomBank: STK: xxxxxxxxxx  Tên TK: Hong Sec Minh ,Chi nhánh: Quận 5</br>
      </br>

      4.Quy định mua hàng và đổi trả hàng</br>

      -         Khách hàng chỉ đặt mua khi có nhu cầu sử dụng thật sự.Kính mong quý khách không mua hàng để xem.Vì chất lượng sản phẩm khi giao cho khách đều được qua kiểm duyệt cẩn thận nên hình ảnh như thế nào thì sản phẩm ra ngoài sẽ đúng như thế.
      </br>
      -         Posshop.vn luôn bán hàng với mức giá hợp lý nhất và giá được niêm yết cụ thể công khai trên web.Và  phương châm thuận mua vừa bán nên quý khách không cần phải mặc cả.
      </br>
      -         Khi cung cấp size kính mong quý khách cung cấp chẩn size.Nếu chưa chắc chắn size quý khách có thể đo chiều dài,chiều rộng chân cung cấp thông số shop sẽ tư vẫn size chuẩn cho khách hàng.
      </br>
      -         Trong trường hợp hàng gửi về quý khách có thắc mắc gì xin phản hồi ngay với shop.
      </br>
      -         Shop thực hiện chính sách đổi và trả hàng trong vòng 7 ngày.Và phải giữ nguyên sản phẩm hoàn lại cho shop.Ngoài 7 ngày không có phản hồi thông báo mặc định đơn hàng mua bán xong.
      </br>
      -         Chế độ bảo hành.Sản phẩm của shop bảo hành trong vòng 6 tháng về đường keo mũi chỉ chất liệu sản phẩm vd như giầy nam nếu da có vẫn đề như nổ da,bong đế…Shop không bảo hành với các trường hợp hỏng sản phảm do tác nhân bên ngoài như bị va đập xước da,rách da,ngâm trong nước…Vì nhân gian đã có câu của bền tại người.
      </br></br>
      Kính chúc quý khách chọn lựa được cho mình những sản phẩm ưng ý
    <br />
    <strong><u></u></strong></p>
  <p></p>
  <p>Địa chỉ: <strong>    <font size="2"><strong><font size="3"><strong><span 
style="FONT-FAMILY: Tahoma; COLOR: blue">273 </span></strong>An Dương Vương Q.5</font></strong></font>  TP Hồ Chí Minh</strong><br />
    <strong>        ĐT : <font size="2">0909696969 </font></strong></p>
<P><FONT size=3></FONT>&nbsp;</P><div class='tnp'></div></div>
<br />
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p></p>
        </div></div>
