@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mainContent">
    <div id='Para'>
        <div id='pTitle' class='PTitle'>Giới Thiệu Công Ty</div>
        <div id='pBot'></div>
        <p><div id='pContent'><font color=#000099 size=4>
        <p><font color=#000099 size=4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TẠI ĐÂY CHÚNG TÔI CÓ GÌ CHO BẠN</font></p>
        <p><font color=#000099 size=4><font color=#000000>*</font></font>Cám ơn Quí khách hàng ghé thăm <span id="ze4824_1">web</span>site Cửa hàng thể thao  KL SHOP</p>
        </FONT>
        <p> </p>
        <p>Cửa hàng dụng cụ TDTT KL SHOP<span id="ze4824_3"></span> được thành lập từ năm 1998 Là nơi  chuyên cung cấp các mặt hàng thể thao,các loại máy tập mang nhản hiệu MITU (một nhãn hiệu đạt chất lượng cao trong nhiều năm qua): máy chạy bộ, máy đa năng, ghế tạ, ghế tập bụng, tập eo, máy masage........và các trang thiết bị của các bộ môn TDTT khác như bóng bàn, cầu lông, tennis, bơi lội, điền kinh, thể hình.....</p>
        <p> </p>
        <p>Mi sports luôn cung cấp những dụng cụ thể thao chất lượng, bảo hành chu đáo, tiếp đón niềm nở &quot;vui lòng khách đến, vừa lòng khách đi&quot; Nên luôn được sự <span id="ze4824_6">tin</span> tưởng, ủng hộ của khách hàng khắp mọi nơi</p>
        <p> </p>
        <p>Mọi chi tiết xin liên hệ:</p>
        <p>
            <br />
            <strong>
                <font size="2">
                    <strong>
                        <font size="3">
                            <strong>
                                <span style="FONT-FAMILY: Tahoma; COLOR: blue">273</span>
                            </strong>An Dương Vương Q.5
                        </font>
                    </strong>
                </font>  TP Hồ Chí Minh
            </strong><br />
            <strong>        ĐT : <font size="2">083 .8484005 </font></strong>
        </p>
        <p><font size=3></font>&nbsp;</p><div class='tnp'></div>
    </div>
    <br />
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p></p>
</div></div>
