@{
    ViewBag.Title = "LienHe";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mainContent">
    <div id='Para'>
        <div id='pTitle' class='PTitle'>Thông Tin Liên Hệ</div>
        <div id='pBot'></div>
        <p><div id='pContent'>
        <p>
            <strong><font size=3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font size=4>KL SHOP</font><br></font></strong><br>
            <font size=3>Địa chỉ: 273 An Dương Vương Q5- Tp.HCM<br><br>Điện thoại: 083.8484005 - 0909.180 780.</font>
        </p>
        <p><font color=#000099 size=4><strong>CTY&nbsp;KL SHOP&nbsp;</strong></font></p>
    </div>
</div></div>
