<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceCTDonHangCustom" />
        <binding name="BasicHttpBinding_IServiceDanhMucSP" />
        <binding name="BasicHttpBinding_IServiceDatHang" />
        <binding name="BasicHttpBinding_IServiceSanPham" />
        <binding name="BasicHttpBinding_IServiceUser" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57383/ServiceCTDonHangCustom.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCTDonHangCustom"
        contract="ServiceReferenceCTDonHangCustom.IServiceCTDonHangCustom"
        name="BasicHttpBinding_IServiceCTDonHangCustom" />
      <endpoint address="http://localhost:57383/ServiceDanhMucSP.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDanhMucSP"
        contract="ServiceReferenceDanhMucSP.IServiceDanhMucSP" name="BasicHttpBinding_IServiceDanhMucSP" />
      <endpoint address="http://localhost:57383/ServiceDatHang.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDatHang"
        contract="ServiceReferenceDatHang.IServiceDatHang" name="BasicHttpBinding_IServiceDatHang" />
      <endpoint address="http://localhost:57383/ServiceSanPham.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceSanPham"
        contract="ServiceReferenceSanPham.IServiceSanPham" name="BasicHttpBinding_IServiceSanPham" />
      <endpoint address="http://localhost:57383/ServiceUser.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceUser" contract="ServiceReferenceUser.IServiceUser"
        name="BasicHttpBinding_IServiceUser" />
    </client>
  </system.serviceModel>
</configuration>